* {
  margin: 0;
  padding: 0;
  padding-bottom: 0;
  padding-top: 0;
  scroll-behavior: smooth;
  min-height: 100%;
  align-content: center;
  text-align: center;
  text-decoration: none;
  /* overflow-x: hidden; */
}
.dark p {
  background-color: #eeeeee;
  color: rgba(0, 0, 0, 0.932);
  font-family: monospace;
  -webkit-overflow-scrolling: touch;
}
.light p {
  background-color: #36393e;
  color: #eeeeee;
  color: rgba(255, 255, 255, 0.932);
  -webkit-overflow-scrolling: touch;
}

.footer {
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid rgb(139, 139, 139);
}
